{% extends "::base.html.twig" %}

{% block title %}
    Inscription - {{ parent() }}
{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/connection.css') }}"/>

    <!-- start intro section -->
    <section class="bg-extra-dark-gray border-bottom border-top" data-overlay-dark="6" data-background="{{ asset('img/banner.png') }}">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-10 center-col text-center last-paragraph-no-margin" style="padding-top: 70px;">
                    <img src="{{ asset('img/single-min.png') }}" alt="Noemie Beaujean" title="Noemie Beaujean">      
                </div>
            </div>
        </div>
    </section>
    <!-- end intro section -->

    <div class="row" style="background-color:#eee;">
        <div class="col-12 center-col  margin-20px-top  text-center wow fadeInUp">
            <div class="alt-font margin-5px-bottom text-uppercase text-small letter-spacing-1" style="color:#3C7CDD;">Inscription</div>
            <h5 class="margin-10px-bottom font-weight-300">Veuillez remplir le formulaire vous inscrire</h5>
            <div class="separator-line-horrizontal-medium-light2 bg-pink center-col"></div>
        </div>
    </div>

    <div class="blogs">
        <div class="col-lg-6 center-col padding-20px-top">
            <div class="sm-padding-50px-tb sm-no-padding-lr" style="padding:30px;">
                
    <div class="wrap_form">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <form id="contactForm" method="post" class="contact-form wow fadeInUp" data-wow-duration="0.6s" action="{{ path('fos_user_registration_register') }}">
            <div class="row">
                <div class="col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    {{ form_widget(form.lastname, {'attr': {'class': 'input','placeholder': "Nom"}}) }}
                </div>
                <div class="col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    {{ form_widget(form.firstname, {'attr': {'class': 'input','placeholder': "Prenom"}}) }}
                </div>
                <div class="col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    {{ form_widget(form.username, {'attr': {'class': 'input','placeholder': "Pseudo"}}) }}
                </div>
                <div class="col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    {{ form_widget(form.email, {'attr': {'class': 'input','placeholder': "Adresse email"}}) }}
                </div>
                <div class="col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    {{ form_widget(form.plainPassword.first, {'attr': {'class': 'input','placeholder': "Mot de passe"}}) }}
                </div>
                <div class="col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    {{ form_widget(form.plainPassword.second, {'attr': {'class': 'input','placeholder': "Confirmation du mot de passe"}}) }}
                </div>
                <div class="col-md-12 wow fadeInUp margin-10px-bottom" data-wow-delay="0.8s">
                    <div class="g-recaptcha align-items-center justify-content-center" data-sitekey="6LdBL20UAAAAALvWssw08w0qgvaSWlmEva6QOu3q" style="margin:auto;width:300px;"></div>
                </div>
                <div class="col-md-12 text-center wow fadeInUp" data-wow-delay="0.8s">
                    <input class="btn" name="inscription" type="submit" value="Valider mon inscription">
                </div>
            </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>

    </div></div></div>

{% endblock %}

