{% extends "::base.html.twig" %}

{% block title %}
    Boutique - {{ parent() }}
{% endblock %}

{% block body %}

    <link rel="stylesheet" href="{{ asset('css/shop.css') }}"/>

    {{ render(controller(
        'SW\\PlatformBundle\\Controller\\PlatformController::bannerAction'
    )) }}

    <div class="row" style="background-color:#eee;">
        <div class="col-12 center-col  margin-20px-top  text-center wow fadeInUp">
            <div class="alt-font margin-5px-bottom text-uppercase text-small letter-spacing-1" style="color:#3C7CDD;">Boutique</div>
            <h5 class="margin-10px-bottom font-weight-300">Fiche produit - <a href="{{ path('sw_ecommerce_shop_basket') }}"><i class="fas fa-shopping-cart"></i> Mon Panier</a></h5>
            <div class="separator-line-horrizontal-medium-light2 bg-pink center-col"></div>
        </div>
    </div>

    <div class="blogs padding-30px-top padding-30px-bottom">
        <div class="posts">
            <div class="container padding-bottom-3x mb-1" style="background-color:white;padding-top:20px;">
                <div class="page-title">
                    <div class="container">
                        <div class="column">
                          <h5 style="font-size:20px;color:#3C7CDD;">{{ product.name }}</h5>
                        </div>
                    </div>
                </div>
                 <div class="container padding-bottom-3x mb-1">
                    <div class="row">
                      <!-- Poduct Gallery-->
                        <div class="col-md-4 offset-md-1">
                            <div class="product-gallery">
                                <div data-hash="one">{% media product.image,'reference' %}</div>
                            </div>
                        </div>
                        <!-- Product Info-->
                        <div class="col-md-6 offset-md-1">
                            <div class="padding-top-2x mt-2 hidden-md-up"></div>
                            {% if product.stock == 0 %}
                                <div class="product-badge-view product-badge text-danger">{{ 'basket.sold_out'|trans }}</div>
                            {% endif %}
                            <span class="h2 d-block" style="font-size:20px;color:#3C7CDD;">{{ product.price }} €</span>
                            <p>{{ product.description }}</p>
                            {% if product.stock > 0 %}
                                <form action="{{ url('sw_ecommerce_shop_basket_add_product') }}" method="POST">
                                    <div class="row margin-top-1x">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="quantity">Quantity</label>
                                                <select class="form-control" id="quantity" name="product_quantity">
                                                    {% for i in 1..product.stock %}
                                                        <option>{{ i }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="mb-3">
                                    <div class="d-flex flex-wrap justify-content-between">
                                        <div class="text-center margin-30px-bottom">
                                            <form action="{{ url('sw_ecommerce_shop_basket_add_product') }}" method="POST">
                                                <button id="add_basket_button_{{product.id}}" type="submit" name="product_id" value="{{product.id}}" class="btn btn-primary" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!"> {{ 'basket.add_product'|trans }}</button>
                                         </div>
                                    </div>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %} 