{% extends "::base.html.twig" %}

{% block title %}
    Blog - {{ parent() }}
{% endblock %}

{% block body %}
	<link rel="stylesheet" href="{{ asset('css/blog.css') }}"/>

	<!-- start intro section -->
    <section class="bg-extra-dark-gray border-bottom border-top" data-overlay-dark="6" data-background="{{ asset('img/banner.png') }}">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-10 center-col text-center last-paragraph-no-margin" style="padding-top: 70px;">
                    <img src="{{ asset('img/single-min.png') }}" alt="Noemie Beaujean" title="Noemie Beaujean">      
                </div>
            </div>
        </div>
    </section>
    <!-- end intro section -->

    <div class="row" style="background-color:#eee;">
        <div class="col-12 center-col  margin-20px-top  text-center wow fadeInUp">
            <div class="alt-font margin-5px-bottom text-uppercase text-small letter-spacing-1" style="color:#3C7CDD;">Blog</div>
            <h5 class="margin-10px-bottom font-weight-300">Le blog de Noémie</h5>
            <div class="separator-line-horrizontal-medium-light2 bg-pink center-col"></div>
        </div>
    </div>


 <!--  Start Blog Section -->
    <section class="blogs ">
        <div class="container">
            <div class="row">
                <!--  start blog left-->
                <div class="col-md-8 xs-margin-30px-bottom">
                    <div class="posts">
                        {% if type_page == 'search' %}
                            <div class="alt-font margin-5px-bottom text-uppercase text-small letter-spacing-1" style="color:#3C7CDD;">Votre recherche : "{{ search }}"</div>
                        {% endif %}
                        <!-- start post -->
                        {% for blog in blogs %}
                            <div class="post">
                                <div class="content">
                                    <div class="post-meta">
                                        <div class="post-title">
                                            <h5>{{ blog.title }}</h5>
                                        </div>
                                        <ul class="meta wow fadeInUp" data-wow-duration="0.2s">
                                            <li>
                                                <i class="fa fa-calendar" aria-hidden="true"></i> {{ blog.created|date("m/d/Y") }}
                                            </li>
                                            <li>
                                                <i class="fa fa-comments" aria-hidden="true"></i> {{blog.getComments|length }} Commentaires
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="post-cont wow fadeInUp" data-wow-duration="0.4s">
                                        <p>{{ blog.blog|slice(0, 250) ~ '...' }}</p>
                                    </div>
                                    <a href="{{ path('sw_blog_show', {'page': 1, 'id': blog.id}) }}" class="btn wow fadeInUp" data-wow-duration="0.6s">Lire la suite</a>
                                </div>
                            </div>    
                        {% endfor %}
                        <!-- end post -->

                        <div class="pagination text-uppercase wow fadeInUp">
                            <ul>
                                {% if page != 1 and type_page == 'archive' %}
                                    <li><a href="{{ path('sw_blog_archive', {'page': (page-1), 'year': year,'month': month }) }}"><i class="fas fa-long-arrow-alt-left margin-5px-right xs-display-none"></i> Prev</a></li>
                                {% endif %}

                                {% if page != 1 and type_page == 'search' %}
                                    <li><a href="{{ path('sw_blog_research', {'page': (page-1), 'search': search }) }}"><i class="fas fa-long-arrow-alt-left margin-5px-right xs-display-none"></i> Prev</a></li>
                                {% endif %}

                                {% if page != 1 and type_page == 'home' %}
                                    <li><a href="{{ path('sw_blog_home', {'page': (page-1) }) }}"><i class="fas fa-long-arrow-alt-left margin-5px-right xs-display-none"></i> Prev</a></li>
                                {% endif %}

                                {% for p in range(1, nbPages) %}
                                    <li {% if p == page %} class="active-page" {% endif %}>
                                        {% if type_page == 'archive' %}
                                            <a href="{{ path('sw_blog_archive', {'page': p, 'year': year,'month': month }) }}">{{ p }}</a>
                                        {% endif %}
                                        {% if type_page == 'search' %}
                                            <a href="{{ path('sw_blog_research', {'page': p, 'search': search}) }}">{{ p }}</a>
                                        {% endif %}
                                        {% if type_page == 'home' %}
                                            <a href="{{ path('sw_blog_home', {'page': p}) }}">{{ p }}</a>
                                        {% endif %}
                                    </li>
                                {% endfor %}

                                {% if page != nbPages and type_page == 'archive' %}
                                    <li><a href="{{ path('sw_blog_archive', {'page': (page+1), 'year': year,'month': month }) }}">Next <i class="fas fa-long-arrow-alt-right margin-5px-left xs-display-none"></i></a></li>
                                {% endif %}

                                {% if page != nbPages and type_page == 'search' %}
                                    <li><a href="{{ path('sw_blog_research', {'page': (page+1), 'search': search }) }}">Next <i class="fas fa-long-arrow-alt-right margin-5px-left xs-display-none"></i></a></li>
                                {% endif %}

                                {% if page != nbPages and type_page == 'home' %}
                                    <li><a href="{{ path('sw_blog_home', {'page': (page+1) }) }}">Next <i class="fas fa-long-arrow-alt-right margin-5px-left xs-display-none"></i></a></li>
                                {% endif %}           
                            </ul>
                        </div>

                    </div>
                </div>
                <!--  end blog left-->
                <!--  start blog right-->
                <div class="col-md-4">
                    <div class="side-bar">
                        <div class="widget search wow fadeInRight">
                            <form method="post" action="{{ path('sw_blog_research', {'search': search}) }}">
                                <input type="hidden" name="form-name" value="form 1" />
                                <input type="search" name="search" placeholder="Votre recherche ...">
                                <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </form>

                        </div>
                        <div class="widget  wow fadeInRight" data-wow-duration="0.8s">
                            <div class="widget-title">
                                <h6>Archives</h6>
                            </div>
                            <ul class="blog-date">
                                {% for dateArchive in datesArchive %}
                                    <li><a href="{{ path('sw_blog_archive', {'year': dateArchive.created|date('Y'), 'month': dateArchive.created|date('m'), 'page': 1}) }}">{{ dateArchive.created|date('F Y') }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <!--  end blog right-->
            </div>
        </div>
    </section>
    <!--  End Blog Section -->
{% endblock %}