{% extends "::base.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block body %}
	<link rel="stylesheet" href="{{ asset('css/index.css') }}"/>

    <header class="header valign" data-scroll-index="0" data-overlay-dark="6">
        {% for h in header %}
            <video class="bg-vid" poster="img/bg1.jpg" autoplay="" loop="" muted="">
                <source src="{{ asset('video/jsc.mp4') }}" type="video/mp4">
            </video>
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center caption title-header">
                        <h3 class="no-margin">Noémie Beaujean</h3>
                        <h1 class="banner-headline clip">
                                <span class="blc">{{ h.titleOne }}</span>
                                <span class="banner-words-wrapper">
                                  <b class="is-visible">{{ h.titleTwo }}</b>
                                </span>
                        </h1>
                        {% thumbnail h.image,'big' %}
                    </div>
                </div>
            </div>
            <div class="arrow">
                <a href="javascript:void(0);" data-scroll-nav="1">
                    <i class="fas fa-chevron-down"></i>
                </a>
            </div>
        {% endfor %}
    </header>

    <!-- videos -->
    <section class="services" data-scroll-index="3">
        <div class="container">
            <div class="row">
                <div class="col-12 center-col margin-30px-bottom sm-margin-40px-bottom xs-margin-30px-bottom text-center wow fadeInUp">
                    <div class="alt-font margin-5px-bottom text-uppercase text-small letter-spacing-1" style="color:#3C7CDD;">Videos</div>
                    <h5 class="margin-10px-bottom font-weight-300">Les dernières vidéos</h5>
                    <div class="separator-line-horrizontal-medium-light2 bg-pink center-col"></div>
                </div>
            </div>
            <div class="row">
                {% for video in videos %}
                    <div data-wow-duration="0.4s" class="col-lg-3 col-md-6 margin-30px-bottom xs-margin-20px-bottom wow fadeInUp">
                        <div class="bg-white border border-width-2 border-color-extra-light-gray text-center feature-box2">
                            <a href="" data-toggle="modal" data-target="#myModal{{ video.id }}" class="video-btn">
                                {% thumbnail video.image,'big' %}
                            </a>
                        </div>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal{{ video.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">            
                            <div class="modal-body">
                               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>        
                                <!-- 16:9 aspect ratio -->
                                <div class="embed-responsive embed-responsive-16by9">
                                   <iframe id="video_yt{{ video.id }}" width="720" height="405" src="{{ video.link }}?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                </div>   
                            </div>
                        </div>
                      </div>
                    </div>
                <!-- end Modal -->
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- news -->
    <section class="blog" data-scroll-index="2">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 col-sm-12 center-col margin-30px-bottom sm-margin-40px-bottom xs-margin-30px-bottom text-center last-paragraph-no-margin wow fadeInUp">
                    <div class="alt-font margin-5px-bottom text-uppercase letter-spacing-1" style="color:#3C7CDD;">Nouveautés</div>
                    <h5 class="margin-10px-bottom font-weight-300">Les dernières nouveautés</h5>
                    <div class="separator-line-horrizontal-medium-light2 bg-pink center-col"></div>
                </div>
            </div>
            <div class="row">

                {% for new in news %}
                    <div class="col-lg-4 sm-margin-30px-bottom wow fadeInUp" data-wow-delay="0.2 s">
                        <div class="item text-center">
                            <div class="post-img">
                                {% thumbnail new.image,'big' %}
                            </div>
                            <div class="content">
                                <h5>{{ new.subject }}</h5>
                                <div class="author">
                                    <span class="font-size11 display-inline-block">{{ new.date|date("d/m/Y") }}</span>
                                </div>
                                <div class="separator-line-horrizontal-full bg-medium-gray margin-20px-tb"></div>
                                <p>{{ new.message|slice(0, 200) ~ '...' }}</p>
                                <a href="{{ path('sw_platform_news_info', {'id': new.id   }) }}" class="read-more">Lire plus</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}

