{% extends "::base.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block body %}
	<link rel="stylesheet" href="{{ asset('css/index.css') }}"/>

	<div id="banner">
        <img src="{{ asset('img/banner.png') }}" alt="banner"/>
    </div>
        
    <section>
        <div class="title_wrap">
            <img id="movie_title" src="{{ asset('img/movie_title.png') }}" alt="youtube"/>
            <a href="https://www.youtube.com/user/NoemieOfficielmusic/videos" target="_blank">
            	<img class="title_logo" src="{{ asset('img/youtube.png') }}" alt="youtube"/>
            </a>
        </div>
        
        <div id="videos">
            <iframe class="video" width="320" height="180" src="https://www.youtube.com/embed/5lHbdJXEATs?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            
            <iframe class="video" width="320" height="180" src="https://www.youtube.com/embed/Vg8VjEixOY0?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            
            <iframe class="video" width="320" height="180" src="https://www.youtube.com/embed/L9CSvw_K6z8?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>

        <div class="title_wrap">
            <img id="news_title" src="{{ asset('img/news_title.png') }}" alt="youtube"/>
            <a href="{{ path('sw_platform_news') }}">
            	<img class="title_logo more_logo" src="{{ asset('img/more.png') }}" alt="more"/>
            </a>
        </div>

        <div class="news">
            <ul>
            	{% for new in news %}
	                <li>
	                    <a href="{{ path('sw_platform_news_info', {'id': new.id   }) }}">
	                        <p>
	                            <img src="{{ asset('img/news_image.png') }}"/>
	                        </p>
	                        <p>{{ new.subject }}</p>
	                    </a>
	                </li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}