{% extends "::base.html.twig" %}

{% block title %}
    Nouveautés - {{ parent() }}
{% endblock %}

{% block body %}
	<link rel="stylesheet" href="{{ asset('css/news.css') }}"/>

	<div class="banner_second">
        <img src="{{ asset('img/biography.png') }}" alt="banner"/>
    </div>

 	{% for new in news %}
 		<section>
	        <h2>{{ new.subject }}</h2>

	        <span>{{ new.date|date("m/d/Y") }}</span>

	        <p>{{ new.message|slice(0, 250) ~ '...' }}</p>

	        <a href="{{ path('sw_platform_news_info', {'id': new.id   }) }}"><button type="button">Lire la suite</button></a>
	    </section>
	{% endfor %}


    <div class="pagination">
        <ul>
            {% for p in range(1, nbPages) %}
                <li>
                    <a href="{{ path('sw_platform_news', {'page': p}) }}">{{ p }}</a>
                </li>
            {% endfor %}
        </ul>        
    </div>

{% endblock %}