{% extends "::base.html.twig" %}

{% block title %}
    Profil - {{ parent() }}
{% endblock %}

{% block body %}

    <link rel="stylesheet" href="{{ asset('css/profil.css') }}"/>

    {{ render(controller(
        'SW\\PlatformBundle\\Controller\\PlatformController::bannerAction'
    )) }}


    <div class="row" style="background-color:#eee;">
        <div class="col-12 center-col  margin-20px-top  text-center wow fadeInUp">
            <div class="alt-font margin-5px-bottom text-uppercase text-small letter-spacing-1" style="color:#3C7CDD;">Profil</div>
            <h5 class="margin-10px-bottom font-weight-300">Editer mon profil</h5>
            <div class="separator-line-horrizontal-medium-light2 bg-pink center-col"></div>
        </div>
    </div>

    <!-- start contact -->
    <div class="blogs padding-30px-bottom">
        <div class="col-lg-8 center-col padding-20px-top">
            <div class="sm-padding-50px-tb sm-no-padding-lr" style="padding:30px;background-color:white;margin-bottom:30px;">
                {% for message in app.session.flashbag.get('notice') %}
                    <p class="alert alert-success">{{ message }}</p> 
                {% endfor %}
                <div class="no-margin-lr" id="success-contact-form" style="display: none;"></div>
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                    <form id="contactForm" method="post" class="contact-form wow fadeInUp" data-wow-duration="0.6s" action="{{ path('sw_platform_contact') }}">
                        <div class="comment-title post-title wow fadeInUp">
                            <h5 class="margin-10px-bottom font-weight-300">Informations personnelles</h5>
                        </div>

                        <div class="row">
                            <div class="col-lg-4">
                                <aside class="user-info-wrapper">
                                  <div class="user-info wow fadeInUp">
                                    <div class="user-avatar text-center"><a class="edit-avatar" href="#"></a><img src="{{ asset('img/cd1.png') }}" alt="User" style="height:150px;"></div>
                                  </div>
                                </aside>
                            </div>

                            <div class="col-lg-8">
                                <div class="row">
                                    <div class="col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                                        {{ form_label(form.lastname, "Nom") }}
                                        {{ form_widget(form.lastname, {'attr': {'class': 'input'}}) }}
                                    </div>
                                    <div class="col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                                        {{ form_label(form.firstname, "Prenom") }}
                                        {{ form_widget(form.firstname, {'attr': {'class': 'input'}}) }}
                                    </div>
                                    <div class="col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                                        {{ form_label(form.email) }}
                                        {{ form_widget(form.email, {'attr': {'class': 'input'}}) }}
                                    </div>
                                    <div class="col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                                        {{ form_label(form.phone, "Telephone") }}
                                        {{ form_widget(form.phone, {'attr': {'class': 'input'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="comment-title post-title wow fadeInUp">
                            <h5 class="margin-10px-bottom font-weight-300">Adresse de livraison</h5>
                        </div>

                        <div class="col-lg-12">     
                            <div class="row">
                                <div class="col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                                    {{ form_label(form.adress, "Adresse") }}
                                    {{ form_widget(form.adress, {'attr': {'class': 'input'}}) }}
                                </div>
                                <div class="col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                                    {{ form_label(form.postalcode, "Code Postal") }}
                                    {{ form_widget(form.postalcode, {'attr': {'class': 'input'}}) }}
                                </div>
                                <div class="col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                                    {{ form_label(form.city, "Ville") }}
                                    {{ form_widget(form.city, {'attr': {'class': 'input'}}) }}
                                </div>
                                <div class="col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                                    {{ form_label(form.country, "Pays") }}
                                    {{ form_widget(form.country, {'attr': {'class': 'input'}}) }}
                                </div>

                                <div class="col-md-12 text-center wow fadeInUp" data-wow-delay="0.8s">
                                    <input class="btn" name="Send" type="submit" value="Modifier" style="margin-top:30px;">
                                </div>
                            </div>
                        </div>
                        {{ form_rest(form) }}
                        {{ form_end(form) }}
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- end contact -->
{% endblock %}